.nicewoman
  .happy-birthday
    .sunset
      .text-box
        .box
          .tellyou
            you are a special woman, talk with you causes me some feeling odd. This is because your soul transmits me that bit part of tranquility and I'm chilling. So it's very quirky, but I think that worth it...alright, i only want you a nice birthday and that you be happy.
            You are beautiful!
    .road-track
      .rt--step-1
        = image_tag 'track.svg', class: 'rt--step-1'
      .rt--step-2
        = image_tag 'track-2.svg', class: 'rt--step-2'
      .rt--step-3
        = image_tag 'track.svg', class: 'rt--step-3'
      .rt--step-4
        = image_tag 'track-2.svg', class: 'rt--step-4'
      .rt--step-5
        = image_tag 'track.svg', class: 'rt--step-5'
      .rt--step-6
        = image_tag 'track-2.svg', class: 'rt--step-6'
      .rt--step-7
        = image_tag 'track.svg', class: 'rt--step-7'
      .rt--step-8
        = image_tag 'track-2.svg', class: 'rt--step-8'
      .rt--step-9
        = image_tag 'track.svg', class: 'rt--step-9'
      .rt--step-10
        = image_tag 'track-2.svg', class: 'rt--step-10'
